/* css for project 1 -fend*/

/*main body styles*/
body {
    font-family: "Lucida Console", sans-serif;
    max-width: 65em;
    min-width: 19em;
    margin: auto;
}

.grid {
    padding: 0 0.5em;
}


/* header text */
h1 {
    font-size: 3.5em;
    margin-top: 0.5em;
}

h4 {
    font-size: 1.25em;
    margin-top: -2em;
}


/* line style */
.header-hr {
    height: 0.25em;
    background-color: #bcbbbb;
    border-radius: 0.2em;
    margin-bottom: 1.8em;
}


/*logo style*/
.logo p {
    margin: 0.4em 0.4em 0.01em;
    padding: 0.35em;
    color: #b4a9a9;
    font-size: 3.4em;
    font-weight: 600;
    border: 0.2em dotted #968c8c;
    border-radius: 3.125em;
}

.logo {
    min-width: 10.25em;
    max-width: 9em;
}


/*text styles*/
h1,
h4 {
    text-align: right;
}

h1,
h4,
.display {
    font-weight: 100;
}

h2,
h3 {
    font-weight: 200;
}


h2 {
    color: #c4c4c4;
    font-size: 1.9em;
}

.h2-bar {
    color: white;
    background-color: lightgray;
    margin: 0;
    border-radius: 0.25em;
    text-align: center;
    padding: 0.25em;
    margin: 0.5em auto 0.8em;
    line-height: 1em;
}

h3 {
    margin-bottom: 0;
}

h2,
.display,
.logo p  {
    text-align: center;
}

a {
    color: rgb(81, 110, 255);
    text-decoration: none;
    font-size: 0.75em;
}

a:hover {
    color: rgb(250, 38, 102);
}

.display {
    flex-wrap: wrap;
    justify-content: center;
    color: #40414f
}

figcaption {
    width: 120%;
    margin-left: -30px;
}


/*img style*/
img {
    max-width: 100%;
    margin-left: -2em;
}


.main-img {
    max-width: 59.125em;
    width: 100%;
    max-height: 21em;
    margin: auto;
}

/* modal boxes  */


.modal-box {
    width: 11em;
    height: 11em;
    position: relative;
    margin: 20% auto;
    padding: 0.5em 1em;
    border-radius: 0.2em;
    background: white;

}

.modal-dialog {
    position: fixed;
    top: 10000em;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.modal-dialog:target {
    top: 0;
}



/* the close button*/
.close {
    color: black;
    position: absolute;
    right: 0.4em;
    top: 0.2em;
    font-weight: 900;
}

.close p:hover {
    color: red;
}

/* footer style */
footer p {
    margin: 0 3px 5px;
}

footer {
    color: lightgray;
    justify-content: space-between;

}



/* row-colums grid settings */

.grid {
    margin: -0.40em auto;
    max-width: 54em;
}

.row {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}



/* media querries for responsive content */
@media only screen and (max-width: 800px) {
    h1 {
        font-size: 3em;
    }

    h4 {
        font-size: 1.1em;
        margin-top: -2em;
    }

    .logo p {
        margin: 0.4em;
        font-size: 2.5em;
    }

    .logo {
        margin-top: 0.5em;
        min-width: 7.5em;
        max-width: 8em;
    }

    .section-1,
    .section-2 {
        width: 50%;
    }

    .section-3 {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2.5em;
        margin-top: 0.4em
    }

    .h2-bar {
        font-size: 1.4em;
        padding: 0.2em 0.2em 0.2em 0.5em;
    }

    h4 {
        margin-top: -1.75em;
    }

    .logo p {
        font-size: 1.9em;
    }

    .logo {
        min-width: 5.9em;
        max-width: 5.9em;
    }

    .section-1,
    .section-2,
    .section-3 {
        width: 90%;
    }

    footer p {
        font-size: 0.85em;
        margin: -2px 1px 0;
    }

}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 2.2em;
        padding-top: 0.2em;
    }

    h4 {
        font-size: 1em;
        margin-top: -1.7em;
    }

    footer p {
        font-size: 0.7em;
        margin: -2px 1px 0;
    }
}

@media only screen and (max-width: 380px) {
    h1 {
        font-size: 1.8em;
        padding-top: 0.4em;
    }

    h4 {
        font-size: 1em;
        margin-top: -1.4em;
    }
}



