<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" href="http://www.iconj.com/ico/s/3/s3njgtbnnd.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A little port-folio</title>
</head>
<body>
  <div class="grid">
    <header class="row">
      <div class="col-2 logo">
        <p>K</p>
      </div>
      <div class="col-10">
        <h1>MY PORT-FOLIO</h1>
        <h4>A folio and its port</h4>
      </div>
    </header>
    <hr class="header-hr">
    <main>
      <div class="row">
        <img src="img/folio.svg" alt="folio" title="so pretty" class="main-img">
      </div>
      <div class="h2-bar">
        <h2>
          This above is a folio.
        </h2>
      </div>
      <div class="row display">
        <section class="col-4 display-img section-1">
          <figure>
            <a href="#port-modal">
              <img src="img/port.png" alt="port" title="the little part">
            </a>
            <figcaption>
              <h3>THIS IS A PORT</h3>
            </figcaption>
          </figure>
          <div id="port-modal" class="modal-dialog">
            <div class="modal-box">
              <p>!</p>
              <a href="/" title="Close" class="close">X</a>
              <h1>The Port</h1>
              <p>it is very tiny</p>
            </div>
          </div>
        </section>
        <section class="col-4 display-img section-2">
          <figure>
            <a href="#folio_in_port">
              <img src="img/folio_in_the_port.png" alt="my folio in the port" title="pretty pretty">
            </a>
            <figcaption>
              <h3>THIS IS A FOLIO IN A PORT</h3>
            </figcaption>
          </figure>
          <div id="folio_in_port" class="modal-dialog">
            <div class="modal-box">
              <a href="/" title="Close" class="close">X</a>
              <h1>The little Folio</h1>
              <p>it is also very tiny</p>
            </div>
          </div>
        </section>
        <section class="col-4 display-img section-3">
          <figure>
            <a href="#port-foliae">
              <img src="img/port_folios.png" alt="many port-foliae" title="cute sweet">
            </a>
            <figcaption>
              <h3>THESE HERE ARE MANY PORTI-FOLIAE</h3>
            </figcaption>
          </figure>
          <div id="port-foliae" class="modal-dialog">
            <div class="modal-box">
              <a href="/" title="Close" class="close">X</a>
              <h1>My Port Folio</h1>
              <p>So many, so tiny, all tiny</p>
            </div>
          </div>
        </section>
      </div>
    </main>
    <br>
    <hr>
    <footer class="row">
      <p>kalindi</p>
      <p>july 2015</p>
      <p>fend</p>
    </footer>
  </div>
</body>
</html>